<launch>

  <include file="$(find ubiquitous_display_bringup)/launch/ubiquitous_display_model.launch"/>
  <include file="$(find ubiquitous_display_bringup)/launch/ubiquitous_display_lidar.launch"/>
  <include file="$(find ubiquitous_display_bringup)/launch/ubiquitous_display_merge_lidar.launch"/>

</launch>
